# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/
.venv/

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
.eggs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS
.DS_Store

# VS Code settings
.vscode/

# Streamlit secrets
.streamlit/secrets.toml

# Log files
*.log

# Environment variables
.env
